html,
body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
}

img {
    width: 100px;
}

.navigation ul {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
}

.navigation li {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.navigation ul li a {
    font-family: avenir, sans-serif;
    color: #111;
    font-size: 14px;
    text-decoration: none;
}

.navigation li:hover {
    color: gray;
    transition: 0.2s ease all;
}

.navigation ul li .btn {
    background: #111;
    color: #fff;
    width: 100%;
    font-size: 14px;
    height: 40px;
    border-radius: 0px;
}

.navigation .menuBar {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: right;
}

.navigation .menuBar img {
    height: 40px;
    padding: 5px;
    width: 40px;
    border-radius: 50%;
}

.active {
    display: none;
}

.container {
    padding: 0;
    width: 100%;
    height: 100vh;
}

.section01 .col-lg-3 {
    width: 100%;
    padding: 0px;
    text-align: center;
}

.section01 .col-lg-3 img {
    width: 100vw;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.section01 .col-lg-9 {
    padding: 0px;
}

.section01 .col-lg-9 .textSec01 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-right: 0;
    padding-left: 0;
}

.section01 .col-lg-9 .textSec01 .usp {
    margin-top: 10px;
}

.section01 .col-lg-9 .textSec01 h1 {
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
}

.section01 .col-lg-9 .textSec01 .Titles {
    padding-bottom: 10px;
}

.section01 .col-lg-9 .btn-dark {
    background: #111;
    font-size: 20px;
    color: #fff;
    border-radius: 0;
}

.section01 .col-lg-4 {
    display: none;
}

.section02 {
    background: url("Sources/yellowBlueShoes.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 40vh;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section02 .dullBlue .titleSec02 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    margin-bottom: 30px;
}

.section02 .dullBlue .textAreaSec02 h1 {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: #e4e4e4;
}

.section02 .col-sm-4 {
    display: none;
}

.section03 {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background: #464F77;
    margin-bottom: 50px;
    text-align: center;
}

.section03 .Innercards {
    text-align: center;
    font-size: 12px;
    padding: 40px;
    font-family: sans-serif;
    color: #ededed;
}

.section03 .Innercards h3 {
    font-size: 20px;
}

.section03 .special {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.section03 .btn-outline-light {
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0;
}

.section04 {
    background: #292929;
    width: 100vw;
    padding: 10px;
    margin: 0px;
    color: #ededed;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.section04 h1 {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    font-size: 30px;
}

.section04 h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #ededed;
}

.section04 img {
    width: 200px;
    height: 200px;
   margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
}

.section05 {
    background: #D88677;
    width: 100vw;
    padding: 10px;
    margin: 0px;
    color: #ededed;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.section05 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding: 10px;
    color: #111;
}

.section05 p {
    padding: 10px;
}

.section05 img {
    height: 400px;
    width: 200px;
    margin: 20px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
}

.section06 {
    background: url("Sources/moboWallpaper.png");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 10px;
    margin: 0px;
    color: #ededed;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.section06 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding: 10px;
    color: #fff;
}

.section06 img {
    display: none;
}

.section07 {
    /* background: #111; */
    width: 100vw;
    padding: 10px;
    margin: 0px;
    color: #111;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    top: 710%;
    text-decoration: none;
    font-size: 16px;

}
.section07 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding: 5px;
    color: #111;
}
.section07 p{
    font-size: 16px;
}
.section07 a{
    color: gray;
    text-decoration: none
}
.section07 h1 span{
    font-size: 20px;
    padding: 5px;
}
.map{
    display: none;
}